static/img/**.jpg filter=lfs diff=lfs merge=lfs -text
static/img/**.png filter=lfs diff=lfs merge=lfs -text
**.jpg filter=lfs diff=lfs merge=lfs -text
**.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
