<!-- Small Form -->
<div class="col-sm-9">
    <div class="card">
        <form class="form" method="POST" action="/step2/" name="contact" data-netlify="true" netlify-honeypot="breathing-field">
            <p class="hidden" style="height: 0; width: 0; position: absolute; visibility: hidden">
                <label>Sell For Cash:<input name="breathing-field" /></label>
            </p>
            <h6 class="title title-up mt-4"><i class="fa fa-lock"></i> Your information is kept strictly private</h6>            
            <div class="card-body">
                <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input type="text" class="form-control" name="name" placeholder="Name..." required>
                </div>
                <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                        <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                    <input type="email" class="form-control" name="email" placeholder="Email..." required>
                </div>
                <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                        <i class="now-ui-icons ui-2_chat-round"></i>
                    </span>
                    <input type="text" placeholder="Message..." name="message" class="form-control" required>
                </div>
                <div class="footer text-center mb-0">
                    <input type="submit" class="btn btn-primary btn-round btn-lg mb-0" value="Send Message">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Small Form-->