<!-- Medium Form -->
<div class="col-sm-12">
    <div class="card bg-default text-white">
        <form class="form" method="POST" action="/step2/" name="md-sellers" data-netlify="true" netlify-honeypot="breathing-field">
            <p class="hidden" style="height: 0; width: 0; position: absolute; visibility: hidden">
                <label>Sell For Cash:<input name="breathing-field" /></label>
            </p>
            <h4 class="title title-up mb-1">Fill Out The Form to Get Started</h4>
            <h6 class="title title-up mt-1"><i class="fa fa-lock"></i> Your information is kept strictly private</h6>
            <div class="card-body">
                <div class="input-group form-group-no-border">
                    <label class="col-sm-2 col-form-label">Name *</label>
                    <span class="input-group-addon">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    <input type="text" class="form-control" name="name" placeholder="Name..." required>
                </div>
                <div class="input-group form-group-no-border">
                    <label class="col-sm-2 col-form-label">Email *</label>
                    <span class="input-group-addon">
                        <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                    <input type="email" class="form-control" name="email" placeholder="Email..." required>
                </div>
                <div class="input-group form-group-no-border">
                    <label class="col-sm-2 col-form-label">Phone *</label>
                    <span class="input-group-addon">
                        <i class="now-ui-icons tech_mobile"></i>
                    </span>
                    <input type="phone" placeholder="Phone..." name="phone" class="form-control" required>
                </div>
                <div class="input-group form-group-no-border">
                    <label class="col-sm-2 col-form-label">Address *</label>
                    <span class="input-group-addon">
                        <i class="now-ui-icons location_pin"></i>
                    </span>
                    <input type="text" placeholder="Property Address..." name="address" class="form-control" required>
                </div>
                <div class="input-group form-group-no-border">
                    <label class="col-sm-2 col-form-label">County</label>
                    <span class="input-group-addon">
                        <i class="now-ui-icons location_pin"></i>
                    </span>
                    <input type="text" placeholder="County land is in..." name="county" class="form-control">
                </div>
                <div class="input-group form-group-no-border">
                    <label class="col-sm-2 col-form-label">State</label>
                    <span class="input-group-addon">
                        <i class="now-ui-icons location_pin"></i>
                    </span>
                    <input type="text" placeholder="State land is in..." name="state" class="form-control">
                </div>
                <div class="input-group form-group-no-border">
                    <label class="col-sm-2 col-form-label">Zip</label>
                    <span class="input-group-addon">
                        <i class="now-ui-icons location_pin"></i>
                    </span>
                    <input type="text" placeholder="Zip code land is in..." name="zip" class="form-control">
                </div>
                <div class="footer text-center mt-0">
                    <input type="submit" class="btn btn-primary btn-round btn-lg" value="Get My Cash Offer">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Medium Form-->