<!-- Navbar -->
    <nav class="navbar navbar-expand-lg {{ .Site.Params.navcolor }} fixed-top {{ .Params.navstyle | default "navbar-transparent" }}" color-on-scroll="{{ .Params.colorOnScroll | default "400" }}">
        <div class="container">
            <div class="navbar-translate">
              <a class="navbar-logo" href="{{ .Site.BaseURL | relURL }}" title="{{.Site.Title}}" data-placement="bottom">
                  <img src="{{ .Site.Params.logo }}" class="img" height="60px" alt="{{.Site.Title}}"/>
              </a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{{ "img/blurred-image-1.jpg" | relURL }}">
              <ul class="navbar-nav  ml-auto">
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown">
            {{ .Pre }} <span>{{ .Name }}</span>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            {{end}}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | safeURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
      {{ end }}
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->