<!-- Small Form -->
<div class="card">
    <form class="form" method="POST" action="/step2/" name="buyers" data-netlify="true" netlify-honeypot="breathing-field">
        <p class="hidden" style="height: 0; width: 0; position: absolute; visibility: hidden">
            <label>Sell For Cash:<input name="breathing-field" /></label>
        </p>
        <h4 class="title title-up mb-1">Get Updated</h4>
        <div class="card-body">
            <div class="input-group form-group-no-border">
                <span class="input-group-addon">
                    <i class="now-ui-icons users_circle-08"></i>
                </span>
                <input type="text" class="form-control" name="name" placeholder="Name..." required>
            </div>
            <div class="input-group form-group-no-border">
                <span class="input-group-addon">
                    <i class="now-ui-icons ui-1_email-85"></i>
                </span>
                <input type="email" class="form-control" name="email" placeholder="Email..." required>
            </div>
            <div class="footer text-center mt-0">
                <input type="submit" class="btn btn-warning btn-round btn-lg btn-block" value="See Properties">
            </div>
        </div>
    </form>
</div>
<!-- End Small Form-->