<!doctype html>
<html lang="en">
{{partial "head" . }}

<body class="{{ .Params.class | default "landing-page" }} sidebar-collapse">
  <div class="container">
    {{ partial "nav" . }}
  </div>
  <div class="{{ .Params.wrapper | default "wrapper" }}">
    <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}"
      filter-color="{{ .Param "tint" | default "orange" }}">
      <div class="page-header-image" data-parallax="false"
        style="background-image: url('{{ (.Param "background")  | (default "img/header.jpg" | absURL) }}');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-center">
                <h2>Find your perfect land</h2>
                <h5>Purchase land 50-80% below market value.</h5>
              </div>
              <div>
                {{ partial "horz-form" . }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="{{ .Params.about | default "about"}}">
    <div class="container">
      <div class="row text-center mt-5">
        <div class="col-12">
          <h2>Our Featured Properties</h2>
        </div>
      </div>
      <div class="row">
        {{ range first 3 (where .Site.Pages "Section" "properties") }}
        {{ partial "prop-summary" . }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ partial "footer" . }}
  </div>
</body>
{{partial "javascript" . }}

</html>