{{ define "title" }}
{{ end }}

{{ define "body" }}

<div class="row mt-0 pt-0">
  {{ partial "carousel" . }}
</div>

<div class="row pt-5">
  <div class="col-md-9 text-left">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{ .Title }}</h1>
        <h5 class="cart-title text-muted">{{ .Params.subtitle }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3>Payment Options</h3>
            {{ range $payment := .Params.payments }}
            <div class="row mt-0 mb-0">
              <div class="col">
                <h4>{{ $payment.title }}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <span>{{ $payment.price }}</span>
                {{ if $payment.priceNote}}
                <span>{{ $payment.priceNote }}</span>
                {{end}}
                {{ if $payment.priceDiscount}}
                <span><del>{{ $payment.priceDiscount }}</del></span>
                {{end}}
              </div>
              <div class="col-sm-4">
                <span>{{ $payment.downPayment }}</span>
              </div>
              <div class="col-sm-4">
                {{ if eq $.Params.status "Available" }} 
                <a class="btn btn-large btn-info" href="{{ $payment.downPayLink }}" role="button">Reserve Now</a>
                {{ end }}
              </div>
            </div>
            <hr />
            {{ end }}
            <div class="row">
              <div class="col-sm-12">
                <h6 class="text-muted">Payment Note(s)</h6>
                <p class="mb-0">
                  If you are interested in reserving this parcel,
                  click “Reserve Now” button for any of the payment options.
                  You will be redirected to our payment page to make the initial
                  reservation payment. Downpayment amount does not include a ${{ $.Site.Params.default_doc_fee }} document
                  preparation fee.
                </p>
                <p class="mb-0 mt-2 pb-0">
                  <i class="text-muted fab fa-cc-visa fa-2x" aria-hidden="true"></i>
                  <i class="text-muted fab fa-cc-mastercard fa-2x" aria-hidden="true"></i>
                  <i class="text-muted fab fa-cc-discover fa-2x" aria-hidden="true"></i>
                  <i class="text-muted fab fa-cc-amex fa-2x" aria-hidden="true"></i>
                </p>
              </div>
            </div>
      </div>
      </li>
      <li class="list-group-item">
        <h3>Description</h3>
        <div>
          {{with .Params.description }} {{ . | safeHTML }} {{ end }}       
        </div>
      </li>
      <li class="list-group-item">
        <h3>Property Information</h3>
        <div class="row">
          {{ range $key, $value := .Params.sections.info }}
          <div class="col-sm-3">
            <span class="text-muted text-uppercase">{{ $key }}</span>
            <br>
            <span>{{ $value }}</span>
          </div>
          {{ end }}
        </div>
      </li>
      <li class="list-group-item">
        <h3>Features</h3>
        <div class="row">
          {{ range $feature := .Params.sections.features }}
          <div class="col-sm-3 mb-4">
            {{ if $feature.link }}
            <a class="text-black" href="{{ $feature.link}}" target="_blank">
            {{ end }}
            <span>
              <i class="fas {{ $feature.icon }} fa-4x" aria-hidden="true"></i>
            </span>
            <br>
            <span class="text-muted">{{ $feature.label }}</span>
            <br>
            <span>{{ $feature.data }}</span>
            {{ if $feature.link }}
            </a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </li>
      <li class="list-group-item">
        <h3 class="mb-1">Nearby</h3>
        {{ range $feature := .Params.sections.nearby }}              
        <div class="row ml-auto mr-auto">
          <h4>{{ $feature.title }}</h4>
          <p>{{$feature.Description}}</p>
        </div>
        {{ end   }}
      </li>
      {{ if .Params.Notes }}
      <li class="list-group-item">
        <h3>Notes</h3>
      </li>
      {{ end }}
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <!--
    <div class="row">
      <div class="card">
        SELLER
      </div>
    </div> -->
    <div class="row">
    {{ partial "vert-form" .}}
    </div>
    <div class="row">
      <div class="card">
        Area Contact Info
        <div class="card-body">
          <ul>
          {{ range $info := .Params.sections.county }}              
          <li>
            <p>
              <a href="{{ $info.link}}">{{ $info.title }}</a>
              {{ if $info.phone }}
              - <a href="tel://{{ $info.phone}}">{{ $info.phone }}</a>
              {{ end }}
            </p>
          </li>
          {{ end }}        
          </ul>
        </div>
      </div>
    </div>    
  </div>
</div>
{{ end }}